html, body {
  overflow: hidden;
}

.middlegrid {
  width: 33.33%;
  text-align: center;
  color: white;
}

.rightgrid {
  width: 33.33%;
}

a:hover {
  color: green !important;
}

.main-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 90% 10%;
  grid-template-areas: 
    "main-menu main-content"
    "left-footer right-footer";
  height: 100%;
} 

.main-grid .main-menu {
  grid-area: main-menu;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main-grid .main-content {
  grid-area: main-content;
  background: url('unsereWerte.png');
  background-size: cover;
  overflow-y: scroll;
  color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-grid .right-footer {
  grid-area: right-footer;
  display: flex;
  flex-direction: column;
  background: rgb(85, 85, 85);
  justify-content: center;
  align-items: center;
}

.main-grid .left-footer {
  grid-area: left-footer;
  background: rgb(85, 85, 85);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.left-footer > .footer-logo {
  background: url('dedoor.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.main-content > .box {
  width: calc(50% - 20px);
  display: inline-block;
  margin: 10px;
  border-radius: 20px;
}


@media screen and (max-width: 1000px) {
  .main-grid {
      grid-template-areas: 
        "main-content main-content"
        "left-footer right-footer";

    } 
}

#wrapper {
	position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  animation:pulse 1s infinite;
  display: inline-block;
}


#pulsingheart { 
  position: relative; 
  width: 100px; 
  height: 90px;
} 

#pulsingheart:before, #pulsingheart:after { 
  position: absolute; 
  content: ""; 
  left: 50px; 
  top: 0; 
  width: 50px; 
  height: 80px; 
  background: #aa0000; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(-45deg);  
  transform-origin: 0 100%;
  animation:pulsecolor 1s infinite;
} 

#pulsingheart:after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%;
  animation:pulsecolor 1s infinite;
}

@keyframes pulse {
	10% {transform: scale(1.1)}
}

@keyframes pulsecolor {
  10% {background: #dd0000}
}